services:
  redis:
    image: redis:7
    container_name: stillfront_redis

  worker:
    build: .
    container_name: stillfront_worker
    command: celery -A app.tasks worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

  beat:
    build: .
    container_name: stillfront_beat
    command: celery -A app.tasks beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
